* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    cursor: none !important;
}

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

#audio {
    position: absolute;
}

.cursor {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.show-nothing {
    display: none !important;
    pointer-events: none !important;
}

#hometitle {
    top: 40%;
    font-size: 3vw;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

#teacherstitle {
    top: 25%;
    font-size: 3vw;
    color: #529176;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

#infotitle {
    left: 12.5%;
    top: 30%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    color: aquamarine;
    font-size: 26px;
}

.title {
    position: absolute;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.section {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.hs1 {
    top: 0;
    left: 0;
    height: 100vh;
    background: #e4f5eb;
    position: relative;
}

.hs2 {
    height: 100vh;
    background: linear-gradient(225deg, rgb(0, 200, 100), rgba(0, 100, 100, 0.7));
}

.hs3 {
    height: 100vh;
    background: #42455a;
}

.ts1 {
    background: white;
}

.ts2 {
    background: white;
}

.ts3 {
    background: white;
}

.is {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

div h1 span {
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transform: translateY(-200%);
    display: inline-block;
}

div h1 span.animation{
    opacity: 1;
    transform: translateY(0);
}

.our-class {
    position: absolute;
    left: 50%;
    top: 65%;
    animation: fade 3s ease;
    background: linear-gradient(to right, rgb(0, 200, 100), rgba(0, 100, 100, 0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(-50%, -50%);
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    text-shadow:3px 3px 10px  #000000;
}

.subtitle {
    font-size: 6vw;
    margin: 30px;
    transform: translateX(-30%);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
}

.paragraph {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    text-align: left;
    margin-left: 40%;
}

.fullscreen-image {
    object-fit: contain;
    width: 100%;
    height:100%;
}

body::selection {
    background-color:black;
    color:initial;
}

#schedule {
    border-width: 10px;
    border-style: solid;
    border-color: #ff7b00 #c26916 #ff5100 #ff9900;
    background: radial-gradient(circle, #ffb514, #ff2600);
    width: 100vw;
    height: 80vh;
    margin: 20vh 0 0 0;
    padding: 0;
}

#schedule tbody tr th {
    font-size: 3vmin;
    background:rgba(255, 255, 255, 0.4);
    border: none;
    padding: auto;
}

#schedule tbody tr td {
    font-size: 3vmin;
    font-weight: lighter;
    background:rgba(255, 255, 255, 0.7);
    border: none;
    padding: auto;
}

.schedule-image {
    width: 100%;
}

.scroll-to-learn-more {
    opacity: 0;
    animation: fade2 4s linear 4s forwards;
    display: grid;
    grid-template-columns: 28vmin 4vmin;
    grid-template-rows: 4vh 6vh;
    color: yellow;
    text-shadow: 2px 2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000, 2px -2px 2px #000000;
    font-size: 5vmin;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    margin: 60vh 0 0 65vw;
}

.downarrow {
    grid-column: 1/3;
    color: orange;
    font-size: 8vmin;
    text-align: right;
}

/*teacher-X%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.teacher-container {
    height: 50vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 3fr;
    margin: 30vh auto auto auto;
    border: 1px solid black;
}

.teacher-title {
    background: red;
    font-size: 4vmin;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

.teacher-image {
    padding: 0;
    margin: 0;
    width: 100%;
    background: url(../images/teacher.png);
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 1/3;
    border: 10px solid black;
}

.teacher-description {
    background: green;
    font-size: 2vmin;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

/*menu bar%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.menubar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 0 0;
    padding: 0 0 2vh 50vw;
    background-image: linear-gradient(45deg,rgba(20, 20, 20, 0.5), rgb(20, 20, 20));
    background-repeat: no-repeat;
    background-size: cover;
    z-index:200;
}

.menubar-item {
    border: 0px;
    padding: 2vh 0px 0px 0px;
    margin: 0px;
    width: 10vw;
    z-index: 201;
}

.menubar-description {
    color: white;
    text-align: center;
    font-size: 3vmin;
    text-decoration: none;
}

.image-icon {
    width: 7vw;
    opacity: 0.6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.image-icon:hover {
    opacity: 1.0;
}

/*moving-tablet%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.moving-tablets {
    position:absolute;
    top: 0;
    left: 0;
}

.moving-tablet {
    position: absolute;
    border-style:solid;
    border-radius:20%;
    padding: 0;
    margin: 0;
    z-index: -10;
    opacity: 0.7;
}

.moving-tablet-horizontal {
    border-width: 10px 30px 10px 30px;
    left: -10vw;
}

.moving-tablet-vertical {
    border-width: 30px 10px 30px 10px;
    top: -10vh;
}

.mt1 {
    border-color:aquamarine;
    top: 25vh;
    animation: move-horizontally 40s linear infinite;
}

.mt2 {
    border-color: gray;
    top: 52vh;
    animation: move-horizontally 60s linear infinite;
}

.mt3 {
    border-color: darkgray;
    top: 70vh;
    animation: move-horizontally 30s linear infinite;
}

.mt4 {
    border-color: #afb5ae;
    top: 88vh;
    animation: move-horizontally 46s linear infinite;
}

.mt5 {
    border-color: gray;
    left: 19vw;
    animation: move-vertically 54s linear infinite;
}

.mt6 {
    border-color: #b8eecd;
    left: 34vw;
    animation: move-vertically 38s linear infinite;
}

.mt7 {
    border-color: #c7ffcd;
    left: 57vw;
    animation: move-vertically 24s linear infinite;
}

.mt8 {
    border-color: #dddddd;
    left: 84vw;
    animation: move-vertically 70s linear infinite;
}

/*heads%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.head-top {
    position: absolute;
    top: 20vh;
    left: 2vw;
    display: flex;
    list-style: none;
}

.head-bottom {
    position: absolute;
    top: 86vh;
    left: 2vw;
    display: flex;
    list-style: none;
}

.head {
    width: 6vw;
    padding: 1vw;
}

.rotate1, .rotate2, .rotate3, .rotate4 {
    display: inline-block;
}

.rotate1 {
    animation: rotate 0.5s infinite linear alternate, flash 1.16s infinite alternate;
}

.rotate2 {
    animation: rotate 0.34s infinite linear alternate, flash 0.72s infinite alternate;
}

.rotate3 {
    animation: rotate 0.39s infinite linear alternate-reverse, flash 0.98s infinite alternate-reverse;
}

.rotate4 {
    animation: rotate 0.45s infinite linear alternate-reverse, flash 0.56s infinite alternate;
}

/*keyframes%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@keyframes fade {
    from {
        opacity: 0;
        top: 85%;
    }

    to {
        opacity: 1;
        top: 65%;
    }
}

@keyframes fade2 {
    from {
        opacity: 0;
    }
    to{
        opacity: 0.7;
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(20deg);
    }

    to {
        transform: rotateZ(-20deg);
    }
}

@keyframes flash {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes move-horizontally {
    from{
        left: -10vw;
    }
    to{
        left: 100vw;
    }
}

@keyframes move-vertically {
    from {
        top: -10vh;
    }

    to {
        top: 100vh;
    }
}

/*fullpage settings%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.home ul li a span {
    background: rgb(218, 116, 0) !important;
}

.info > div > ul > li > a > span {
    display: none;
    pointer-events: none;
}

.info div div div ul li a span {
    opacity: 0.7 !important;
}

#fp-nav {
    top: 70% !important;
}

.fp-controlArrow {
    opacity: 0.3;
    transition: all 0.5s ease;
}

.info .fp-controlArrow.fp-prev {
    border-color: transparent darkgray transparent transparent !important;
}

.info .fp-controlArrow.fp-next {
    border-color: transparent  transparent transparent darkgray !important;
}

.fp-controlArrow:hover{
    opacity: 1;
}